<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/uploadaddhar.css">
 <script src="https://cdn.jsdelivr.net/npm/dynamsoft-javascript-barcode@8.2.5/dist/dbr.js"
      data-productKeys="t0068NQAAACwiu6aXm/RiDD7y6oAZlmMZOA5c6n1Gz8g3RyCV8qM7FcX1Yv8iY1GRN+ZerYU/hXcIeg2CIfAJzhsms30pQ40="></script>
   <!-- https://jsfiddle.net/bootstrapious/8w7a50n2 -->
     <script type="text/javascript">
  
   
	</script>


</head

<body>
   <div class="container py-5">

    <!-- For demo purpose -->
    <header class="text-white text-center">
        <h1 class="display-4">Upload your Aadhar Card QR Code </h1>
        <p class="lead mb-0">Fast & Quick </p>
        <p class="mb-5 font-weight-light">Presented By
            <a href="https://CaarvitaSaakalaa.com" class="text-white">
                <u>Caarvita Saakalaa</u>
            </a>
        </p>
       <!-- <img src="https://bootstrapious.com/i/snippets/sn-img-upload/image.svg" alt="" width="150" class="mb-4">-->
    </header>


    <div class="row py-4">
        <div class="col-lg-6 mx-auto">

            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>

            <!-- Uploaded image area-->
            <p class="font-italic text-white text-center">Verify your Scan Code</p>
            <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"></div>
	    <p class="font-italic text-white text-center">Scan Code Details </p>
	    <div class="input-group-append">
		 <input id="scan" type="file" style="display:hidden;" onchange="scanImage(this);" class="form-control border-0">
                    <label for="scan" class="btn btn-light m-0 rounded-pill px-4">
			 <i class="fa fa-cloud-upload mr-2 text-muted"></i>
			<small class="text-uppercase font-weight-bold text-muted">Scan Image</small></label>
                </div>
            <div class="mt-4"><p id="results"  class="img-fluid rounded shadow-sm mx-auto d-block">
		 </p></div>
        </div>
    </div>
</div>
	  <script src="upload/upload.js"></script>
	 <!-- <script src="../../node_modules/dynamsoft-javascript-barcode/dist/dbr.js"></script> -->
     
  <script>
        // initializes and uses the library
	Dynamsoft.DBR.organizationID = "YOUR-ORGANIZATION-ID";
	//Dynamsoft.DBR.BarcodeScanner.organizationID = "100849856"; // Required.
	Dynamsoft.DBR.productKeys = "t0068NQAAACwiu6aXm/RiDD7y6oAZlmMZOA5c6n1Gz8g3RyCV8qM7FcX1Yv8iY1GRN+ZerYU/hXcIeg2CIfAJzhsms30pQ40=";
	
	//Dynamsoft.DBR.BarcodeScanner.handshakeCode = "A-SPECIFIC-HANDSHAKECODE"; // Optional, if not specified, the default handshake code is used.
	//Dynamsoft.DBR.BarcodeScanner.sessionPassword = "PASSWORD-TO-PROTECT-YOUR-LICENSE"; // Optional but recomended, use it to protect your license.
	//Dynamsoft.DBR.BarcodeScanner.licenseServer = ["YOUR-OWN-MAIN-DLS", "YOUR-OWN-STANDBY-DLS"]; //Optional, ignore this line if you are using Dynamsoft-hosting DLS.
        
	//document.getElementById('upload').addEventListener('change', async function () {
	
      function scanImage(input) {
	 $("#results").empty();
   	 if (input.files && input.files[0]) {
  	     var readerFile = new FileReader();
	    readScanned(input);
          }
      }

      async function readScanned(input) { 
	 let reader = await Dynamsoft.DBR.BarcodeReader.createInstance();
	 let results = await reader.decode(input.files[0]);
            if (results.length == 0) {
                $("#results").append('No barcode detected!');
                return;
            }
	    var allData = "", adData="";
            for (let result of results) {
                console.log(result.barcodeText);
                allData+=result.barcodeText
		adData += readXML(result.barcodeText)
            }
	     dataList = '<ul class="list-group">'+
                    '<li class="list-group-item active "><span class="msgTitle">Details </span> </li>';
	     info = '<div>'
	     //spanKey = '<span class="msgTitle">' + name + '</span> : ';
	     //spanValue = '<button class="btn btn-info">' + value + '</button>';
	     dataListEnd= '</ul>';

             infoEnd =  '</div>';
	
	     $("#results").append(info+dataList+adData+dataListEnd+infoEnd);

	    // $("#results").append(dataList + adData);
      }
      function readXML(xmlText){
	var dataList="";
	try {
                    xmlDoc = $.parseXML(xmlText),
		    
			
                        $(xmlDoc).each(function (i, obj) {
                            console.log(i);
                            console.log(obj.documentElement.nodeName);

                            $data = $(xmlDoc).find(obj.documentElement.nodeName);
                            $data.each(function () {

                                $.each(this.attributes, function (i, attrib) {
                                    var name = attrib.name;
                                    var value = attrib.value;

                                    console.log(name);
                                    console.log(value);
				dataList +=		
                    '<li class="list-group-item"> <button class="btn btn-info"> ' + name + ' : </button> '+
                    '<p id="subJ" class=" subTitle">'+  value  + '</p></li> ';
                   
                                });
                            });
                        });
                } catch (error) {
					console.log("error.message.length "+error.message.length);
					var breakIt = error.message.length > 30 ? error.message.split('',30): error.message.split(' ');
					var broken ="";
					var lenghSt = error.message.length;
					 var chunk=30; 
					   var array1="";
					console.log("breakIt.length "+breakIt.length);
					if(lenghSt > 30 ) {
					  
						for (var i=0; (i+1+chunk) < lenghSt ; i+=chunk)
					    {	
							array1 += error.message.substring(i, i+chunk) + " \n";
							console.log("array1 "+array1);
						 }
						 if( i < lenghSt) {
							array1 += error.message.substring(i, error.message.length) + " \n";
						 }
					   /* breakIt.forEach((ele) => { 
							broken += ele+ " \n";
						});
						*/
						dataList = '<li class="list-group-item"> <button class="btn btn-info classShort "> ' + array1.toString()+ ' : </button> ';
						console.log("array1 "+array1);
                    } 
					
					else { 
					  console.log("broken 1  "+broken);
						dataList = '<li class="list-group-item"> <button class="btn btn-info classShort "> ' + breakIt[1] + ' : </button> ';
					}
                }
	  return dataList;
      }

    </script>
	
	<!-- 
		for (var i=0; (i+1+chunk) < lenghSt ; i+=chunk) {	array2 += array1.substring(i, i+chunk) + " \n"; console.log("array2 "+array2);  }
	-->


</body>
</html>
         